/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	word-wrap: break-word;
}

body {
	color: #222;
	line-height: 1.3;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden !important;
}

p {
	font-size: 15px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	color: #999;
	line-height: 1.8;
	margin: 0;
}

img {
	width: 100%;
	height: auto;
}

span,
a,
a:hover {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.curve {
	position: absolute;
	width: 100%;
	height: 100px;
	background-color: #fff;
	right: -60px;
	bottom: -5px;
	-webkit-transform: skew(-50deg);
	transform: skew(-50deg);
	z-index: 3;
}

.curve.rev {
	-webkit-transform: skew(50deg);
	transform: skew(50deg);
	background-color: #fff;
	left: -60px;
}

.curve.rev:after {
	content: '';
	width: 0;
	height: 0;
	border-bottom: 100px solid #fff;
	border-right: 100px solid transparent;
	border-left: 0;
	position: absolute;
	left: 170px;
	top: -96px;
	-webkit-transform: skew(-50deg);
	transform: skew(-50deg);
}

.curve:after {
	content: '';
	width: 0;
	height: 0;
	border-bottom: 100px solid #fff;
	border-left: 100px solid transparent;
	position: absolute;
	right: 170px;
	top: -96px;
	-webkit-transform: skew(50deg);
	transform: skew(50deg);
}

.section-padding {
	padding: 120px 0;
}

.section-head {
	margin-bottom: 80px;
	padding-bottom: 30px;
	position: relative;
}

.section-head:after {
	content: '';
	width: 200px;
	height: 1px;
	background-color: rgba(200, 200, 200, 0.2);
	position: absolute;
	bottom: 0;
	left: calc(50% - 100px);
}

.section-head:before {
	content: '';
	width: 50px;
	height: 5px;
	background-color: #FF1053;
	position: absolute;
	bottom: -2px;
	left: calc(50% - 25px);
	border-radius: 2px;
}

.section-head h6 {
	font-size: 12px;
	letter-spacing: 4px;
	color: #FF1053;
	margin-bottom: 5px;
	margin-right: 30px;
}

.section-head h4 {
	font-family: 'Rubik', sans-serif;
	font-size: 38px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.section-head p {
	font-size: 15px;
}

.bg-gray {
	background: #f7f7f7;
}

.o-hidden {
	overflow: hidden;
}

.ontop {
	position: relative;
	z-index: 4;
}

.position-re {
	position: relative;
}

.full-width {
	width: 100% !important;
}

.lg-line-height {
	line-height: 1.5;
}

.bg-img {
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-fixed {
	background-attachment: fixed;
}

.valign {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.v-middle {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 15px;
	display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
	width: 50px;
	height: 2px;
	margin: 0;
	border-radius: 0;
	background: rgba(200, 200, 200, 0.4);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #FF1053;
}

.cd-headline {
	font-size: 3rem;
	line-height: 1.2;
}

.highlite {
	color: #FF1053;

}

@media only screen and (min-width: 768px) {
	.cd-headline {
		font-size: 4.4rem;
		font-weight: 300;
	}
}

@media only screen and (min-width: 1170px) {
	.cd-headline {
		font-size: 6rem;
	}
}

.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;
}

.cd-words-wrapper b {
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0;
}

.cd-words-wrapper b.is-visible {
	position: relative;
}

.no-js .cd-words-wrapper b {
	opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
	opacity: 1;
}

/* xclip */
.cd-headline.clip span {
	display: inline-block;
	padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
	overflow: hidden;
	vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
	/* line */
	content: '';
	position: absolute;
	top: 10%;
	right: 0;
	width: 2px;
	height: 70%;
	background-color: #aebcb9;
}

.cd-headline.clip b {
	opacity: 0;
}

.cd-headline b.is-visible {
	opacity: 1;
	font-weight: 900;
}

/* ----------------------------------------------------------------
     [ End Basics ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 02 Start Buttons ]
-----------------------------------------------------------------*/
.butn {
	padding: 12px 34px;
	background: #fff;
	border: 1px solid transparent;
	position: relative;
	z-index: 3;
	margin-left: 10px;
	margin-right: 10px;
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	-webkit-transition: all .4s;
	transition: all .4s;
	cursor: pointer;
	outline: none !important;
	overflow: hidden;
}

.butn span {
	position: relative;
	z-index: 2;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.butn:before,
.butn:after {
	content: '';
	width: 0;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: width 0.4s;
	transition: width 0.4s;
	z-index: 1;
	opacity: .4;
}

.butn:after {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	background: #fff;
	opacity: 1;
}

.butn:hover:before,
.butn:hover:after {
	width: 100%;
}

.butn:hover:after {
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}

.butn:hover span {
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}

.butn-bg {
	background: #FF1053;
	border-color: #FF1053;
	color: #fff;
}

.butn-bg:hover span {
	color: #FF1053;
}

.butn-light {
	background: #fff;
}

.butn-light:before,
.butn-light:after {
	background: #FF1053;
}

.butn-light:hover span {
	color: #fff;
}

.butn-light span {
	color: #FF1053;
}

.butn-bord {
	background: transparent;
	border: 1px solid #eee;
}

.butn-bord:before,
.butn-bord:after {
	background: #FF1053;
}

.butn-bord:hover {
	border-color: #FF1053;
}

.butn-bord:hover span {
	color: #fff;
}

/* ----------------------------------------------------------------
     [ End Buttons ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 03 Start Navbar ]
-----------------------------------------------------------------*/
.navbar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border: 0;
	background: transparent;
	z-index: 9;
	min-height: 70px;
}





.navbar .icon-bar {
	color: #fff;
}

.navbar .navbar-nav .nav-link {
	color: #eee;
	margin: 15px 5px;
	-webkit-transition: all .5s;
	transition: all .5s;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 13px;
} 

.navbar .navbar-nav .nav-item .nav-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #FF1053;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}


.navbar .navbar-nav .nav-item .nav-link:hover:after { 
    width: 100%; 
    left: 0; 
}

.navbar .navbar-nav .active {
	color: #FF1053 !important;
}

.nav-scroll {
	background: #fff;
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	padding: 0;
	position: fixed;
	top: -100px;
	left: 0;
	width: 100%;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
}

.nav-scroll .icon-bar {
	color: #222;
}

.nav-scroll .navbar-nav .nav-link {
	color: #222;
}

.nav-scroll .navbar-nav .logo {
	padding: 15px 0;
	color: #111;
}

.logo {
	padding: 15px 0;
	width: 90px;
}

#nav-filled {
	background: #fff;
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	padding: 0;
	position: fixed;
	top: -100px;
	left: 0;
	width: 100%;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	-webkit-transform: translateY(100px);
	transform: translateY(100px);	
}

.logo-dark {
	padding: 15px 0;
	width: 90px;
}

.nav-item-dark a{
	color: #222;
}

.nav-link-dark {
	color: #222;
}


/* ----------------------------------------------------------------
     [ End Navbar ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 04 Start Header ]
-----------------------------------------------------------------*/
.header {
	min-height: 100vh;
	overflow: hidden;
}

.header .caption .o-hidden {
	display: inline-block;
}

.header .caption h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}

.header .caption h1 {
	margin: 15px 0;
	font-size: 60px;
	font-weight: 500;
	font-family: inherit;
	word-spacing: 2px;
	letter-spacing: 2px;
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
}

.header .caption p {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.header .caption .butn {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

.curve-header {
	min-height: calc(100vh + 100px);
}

.slider-fade {
	position: relative;
}

.slider-fade .owl-item {
	height: 100vh;
	position: relative;
}

.slider-fade .item {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
}

.slider-fade .item .caption {
	z-index: 9;
}

.slider-fade .owl-theme .owl-dots {
	position: absolute;
	bottom: 5vh;
	width: 100%;
}

.bg-vid {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/* ----------------------------------------------------------------
     [ End Header ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 05 Start Hero ]
-----------------------------------------------------------------*/
.hero .intro h6 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FF1053;
	margin-bottom: 15px;
}

.hero .intro h5 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 15px;
}

.hero .fet-img {
	padding-right: 30px;
}

.hero .fet-cont h6 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FF1053;
	margin-bottom: 15px;
	display: inline-block;
	position: relative;
}

.hero .fet-cont h6:after {
	content: '';
	width: 50px;
	height: 1px;
	background: #ccc;
	position: absolute;
	bottom: 5px;
	right: -65px;
}

.hero .fet-cont h5 {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.6;
	margin-bottom: 30px;
}

.hero .fet-cont h5 b {
	font-weight: 600;
}

.hero .fet-cont .circle {
	float: left;
	margin-right: 50px;
	position: relative;
	line-height: 1.2;
}

.hero .fet-cont .circle:last-child {
	margin-right: 0;
}

.hero .fet-cont .circle canvas {
	height: 100px;
	width: 100px;
	margin: 0 auto 10px;
}

.hero .fet-cont .circle canvas:last-of-type {
	display: none;
}

.hero .fet-cont .circle span {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
}

.hero .fet-cont .circle p {
	text-align: center;
	font-size: 15px;
}

/* ----------------------------------------------------------------
     [ End Hero ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 06 Start Services ]
-----------------------------------------------------------------*/
.services .item {
	padding: 40px 20px;
	background-color: rgba(50, 50, 50, 0.7);
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}

.services .item .icon {
	color: #FF1053;
	font-size: 60px;
	margin-bottom: 15px;
}

.services .item h5 {
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
}

/* ----------------------------------------------------------------
     [ End Services ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 07 Start Portfolio ]
-----------------------------------------------------------------*/
.portfolio .filtering .filter {
	display: inline-block;
	padding: 4px 10px;
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin-bottom: 20px;
}

.portfolio .filtering span {
	font-size: 12px;
	font-weight: 500;
	margin: 0 5px;
	padding: 8px 20px;
	border-radius: 4px;
	cursor: pointer;
}

.portfolio .filtering .active {
	background: #FF1053;
	-webkit-box-shadow: 0px 8px 30px -5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 8px 30px -5px rgba(0, 0, 0, 0.2);
	color: #fff;
}

.portfolio .items {
	width: 50%;
	padding: 0 15px;
	margin-top: 30px;
}

.portfolio .items.width2 {
	width: 25%;
}

.portfolio .item-img {
	position: relative;
}

.portfolio .item-img:hover .item-img-overlay {
	visibility: visible;
	opacity: 1;
}

.portfolio .item-img-overlay {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	padding: 30px;
	background: rgba(255, 255, 255, 0.95);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.portfolio .item-img-overlay .icon {
	position: absolute;
	right: 30px;
	bottom: 30px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 1px solid #FF1053;
	text-align: center;
	font-size: 20px;
	color: #FF1053;
}

.portfolio .item-img-overlay p {
	color: #FF1053;
	font-weight: 400;
	font-size: 13px;
}

.portfolio .item-img-overlay h6 {
	font-weight: 400;
	font-size: 16px;
	margin-top: 5px;
}

/* ----------------------------------------------------------------
     [ End Portfolio ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 08 Start Numbers ]
-----------------------------------------------------------------*/
.numbers .item .icon {
	font-size: 40px;
	margin-bottom: 15px;
	color: #FF1053;
}

.numbers .item h2 {
	letter-spacing: 2px;
	margin-bottom: 15px;
}

.numbers .item p {
	font-size: 16px;
	letter-spacing: 1px;
	color: #ccc;
}

/* ----------------------------------------------------------------
     [ End Numbers ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 09 Start Featurse ]
-----------------------------------------------------------------*/
.featurse .content {
	padding: 0 45px 0 60px;
}

.featurse .item {
	padding: 40px 30px;
	background-color: #fff;
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}

.featurse .item.active {
	position: relative;
	left: -50px;
}

.featurse .icon {
	float: left;
	font-size: 50px;
	color: #FF1053;
}

.featurse .cont {
	margin-left: 80px;
}

.featurse .cont h6 {
	margin-bottom: 10px;
}

/* ----------------------------------------------------------------
     [ End Featurse ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 10 Start Price ]
-----------------------------------------------------------------*/
.price .item {
	padding: 50px 15px;
	background-color: #fff;
	-webkit-box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.price .type h4 {
	font-size: 16px;
	margin-bottom: 15px;
}

.price .value {
	margin-bottom: 30px;
	padding-bottom: 30px;
	position: relative;
}

.price .value:after {
	content: '';
	width: 100px;
	height: 1px;
	background: #eee;
	position: absolute;
	bottom: 0;
	left: calc(50% - 50px);
}

.price .value h3 {
	font-size: 50px;
	display: inline-block;
	position: relative;
}

.price .value h3 span {
	font-size: 12px;
	position: absolute;
	top: 0;
	left: -10px;
}

.price .features {
	margin-bottom: 30px;
}

.price .features li {
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	color: #999;
	margin-bottom: 15px;
}

.price .features li:last-child {
	margin-bottom: 0;
}

.price .active {
	-webkit-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.5);
	background-color: #222;
	background: -webkit-gradient(linear, left top, right bottom, from(#222), to(#555));
	background: linear-gradient(to right bottom, #222, #555);
	color: #fff;
}

.price .active .features li {
	color: #eee;
}

.price .butn {
	padding: 10px 50px;
}

/* ----------------------------------------------------------------
     [ End Price ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 11 Start Testimonials ]
-----------------------------------------------------------------*/
.testimonials .client-area {
	margin-bottom: 30px;
}

.testimonials .client-area .img {
	display: inline-block;
	position: relative;
}

.testimonials .client-area .img .icon {
	width: 50px;
	position: absolute;
	top: 70px;
}

.testimonials .client-area .img .icon:first-of-type {
	left: -70px;
}

.testimonials .client-area .img .icon:last-of-type {
	right: -70px;
}

.testimonials .client-area .author {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 15px;
}

.testimonials .client-area h6 {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 5px;
}

.testimonials .client-area span {
	font-size: 12px;
	letter-spacing: 1px;
	color: #FF1053;
}

.testimonials p {
	margin-bottom: 15px;
}

/* ----------------------------------------------------------------
     [ End Testimonials ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 12 Start Ready ]
-----------------------------------------------------------------*/
.ready .video {
	margin-bottom: 50px;
}

.ready .video .vid {
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50%;
	border: 1px solid #eee;
	font-size: 30px;
}

.ready .content h3 {
	margin-bottom: 15px;
}

.ready .content .butn {
	letter-spacing: 1px;
	padding: 12px 50px;
	margin-top: 30px;
}

/* ----------------------------------------------------------------
     [ End Ready ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 13 Start Team ]
-----------------------------------------------------------------*/
.team .item {
	border-radius: 10px;
	border-bottom: 1px solid #FF1053;
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.team .item:hover .info .social {
	top: 0;
}

.team .info {
	background-color: #fff;
	text-align: center;
	padding: 20px 0;
	position: relative;
	overflow: hidden;
}

.team .info h6 {
	margin-bottom: 5px;
}

.team .info p {
	font-size: 14px;
	font-weight: 400;
}

.team .info .social {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	-webkit-transition: all .4s;
	transition: all .4s;
}

.team .info .social a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	border: 1px solid #eee;
	color: #777;
	margin: 0 5px;
}

.team .info .social a:hover {
	border-color: #FF1053;
	background-color: #FF1053;
	color: #fff;
}

/* ----------------------------------------------------------------
     [ End Team ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 14 Start Blog ]
-----------------------------------------------------------------*/
.blog .post-img {
	position: relative;
	overflow: hidden;
}

.blog .post-img:hover img {
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.blog .post-img a {
	display: block;
}

.blog .post-img img {
	-webkit-transition: all .4s;
	transition: all .4s;
}

.blog .post-cont {
	padding: 30px;
	background-color: #fff;
}

.blog .post-cont .tag {
	font-size: 12px;
	color: #FF1053;
	margin-bottom: 10px;
}

.blog .post-cont h5 {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 10px;
}

.blog .post-cont .info {
	margin-top: 30px;
}

.blog .post-cont .info a {
	font-size: 12px;
	color: #999;
}

.blog .post-cont .info a:last-of-type {
	float: right;
}

/* ----------------------------------------------------------------
     [ End Blog ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 15 Start Contact ]
-----------------------------------------------------------------*/
.contact .contact-info h5 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.contact .contact-info .item {
	margin-top: 30px;
}

.contact .contact-info .item .icon {
	float: left;
	font-size: 25px;
	color: #FF1053;
}

.contact .contact-info .item .cont {
	margin-left: 50px;
}

.contact .contact-info .item .cont h6 {
	font-size: 14px;
	margin-bottom: 5px;
}

.contact .contact-info .item .cont p {
	font-size: 13px;
}

.contact .form .form-group {
	position: relative;
}

.contact .form .form-group .icon-form {
	position: absolute;
	left: 15px;
	top: 15px;
	color: #ccc;
}

.contact .form input,
.contact .form textarea {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	padding: 15px 15px 15px 15px;
	border: 0;
	border-radius: 5px;
	background-color: #fafafa;
}

.contact .form textarea {
	padding: 15px;
	height: 160px;
	max-height: 160px;
	max-width: 100%;
}

.contact .butn {
	width: 100%;
}

/* ----------------------------------------------------------------
     [ End Contact ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 16 Start Footer ]
-----------------------------------------------------------------*/
footer {
	background: #262626;
	background: -webkit-gradient(linear, left top, right bottom, from(#2626262), to(#232323));
	background: linear-gradient(to right bottom, #262626, #232323);
	padding: 80px 0;
}

footer .social a {
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: transparent;
	margin: 15px 5px;
}

footer .social a:hover {
	background: #FF1053;
}

footer p {
	color: #999;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* ----------------------------------------------------------------
     [ End Footer ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
 	 [ 17 Responsive ]
-----------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

@media screen and (max-width: 991px) {
	.mb-md50 {
		margin-bottom: 50px;
	}

	.mb-md30 {
		margin-bottom: 30px;
	}

	.mb-md0 {
		margin-bottom: 0;
	}

	.bgimg-height {
		height: 400px;
	}

	.hide-md {
		display: none !important;
	}

	.bg-fixed {
		background-attachment: scroll !important;
	}

	.curve {
		display: none;
	}

	.section-padding {
		padding: 120px 0 !important;
	}

	.section-padding .container {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.section-head {
		text-align: center;
	}

	.section-head .text-right {
		text-align: center !important;
		margin-bottom: 15px;
	}

	.section-head .text-right h6 {
		margin-right: 0;
	}

	.navbar .navbar-collapse {
		max-height: 340px;
		overflow: auto;
		background: #111;
		text-align: center;
		padding: 10px 0;
	}

	.navbar .nav-link {
		margin: 10px auto !important;
	}

	.nav-scroll {
		padding-left: 15px;
		padding-right: 15px;
	}

	.nav-scroll .navbar-collapse .nav-link {
		color: #fff !important;
	}

	.nav-scroll .navbar-collapse .active {
		color: #FF1053 !important;
	}

	.header {
		min-height: 100vh;
		background-attachment: scroll !important;
		background-position: 50% 0% !important;
	}

	.header .caption h4 {
		font-size: 30px;
	}

	.header .caption h1 {
		font-size: 45px;
		line-height: 1.4;
	}

	.hero .fet-img {
		padding: 0;
	}

	.portfolio .items.width2 {
		width: 50%;
	}

	.featurse .content {
		padding: 0;
		margin-bottom: 50px;
	}

	.featurse .item.active {
		left: 0;
	}
}

@media screen and (max-width: 767px) {
	.mb-sm50 {
		margin-bottom: 50px;
	}

	.mb-sm30 {
		margin-bottom: 30px;
	}

	.butn {
		padding: 12px 20px;
		margin-left: 2px;
		margin-right: 2px;
	}

	.header .caption h4 {
		font-size: 20px;
	}

	.header .caption h1 {
		font-size: 25px;
		line-height: 1.4;
	}

	.hero .intro h2 {
		font-size: 24px;
	}

	.hero .fet-cont h3 {
		font-size: 22px;
	}

	.hero .fet-cont .circle {
		margin-right: 15px;
	}

	.portfolio .items.width2,
	.portfolio .items {
		width: 100%;
	}

	.featurse .item {
		padding: 30px 15px;
		text-align: center;
	}

	.featurse .icon {
		float: none;
		margin-bottom: 15px;
	}

	.featurse .cont {
		margin: 0;
	}

	.ready .content h3 {
		font-size: 25px;
	}
}

@media screen and (max-width: 480px) {
	.header .caption h4 {
		font-size: 16px;
	}

	.header .caption h1 {
		font-size: 20px;
		line-height: 1.4;
	}

	.section-head h4 {
		font-size: 30px;
	}

	.hero .fet-cont .circle canvas {
		width: 80px !important;
		height: 80px !important;
	}

	.hero .fet-cont .circle span {
		top: 25px;
	}

	.portfolio .filtering .filter {
		padding: 0;
	}

	.portfolio .filtering span {
		margin: 0;
		padding: 8px 15px;
	}
}






/*# sourceMappingURL=style.css.map */